## 練習時間
假設我們資料中類別的數量並不均衡，在評估準確率時可能會有所偏頗，試著切分出 y_test 中，0 類別與 1 類別的數量是一樣的 (亦即 y_test 的類別是均衡的)

In [8]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [9]:
X = np.arange(1000).reshape(200, 5)
y = np.zeros(200)
y[:40] = 1

可以看見 y 類別中，有 160 個 類別 0，40 個 類別 1 ，請試著使用 train_test_split 函數，切分出 y_test 中能各有 10 筆類別 0 與 10 筆類別 1 。(HINT: 參考函數中的 test_size，可針對不同類別各自作切分後再合併)

In [61]:
data = pd.concat([pd.DataFrame(X),pd.Series(y)], axis = 1)
data.columns = range(0,6)

In [62]:
data.head()

    0   1   2   3   4    5
0   0   1   2   3   4  1.0
1   5   6   7   8   9  1.0
2  10  11  12  13  14  1.0
3  15  16  17  18  19  1.0
4  20  21  22  23  24  1.0

In [68]:
X_y0 = data.loc[data.iloc[:,5] == 0, :4]
X_y1 = data.loc[data.iloc[:,5] == 1, :4]
y0 = y[y==0]
y1 = y[y==1]

In [76]:
xtrain_y0, xtest_y0, ytrain_0, ytest_0 = train_test_split(X_y0, y0, test_size = 0.0625)
xtrain_y1, xtest_y1, ytrain_1, ytest_1 = train_test_split(X_y1, y1, test_size = 0.25)

In [89]:
xtrain = pd.concat([xtrain_y0, xtrain_y1])
xtest = pd.concat([xtest_y0, xtest_y1])
ytrain = np.append(ytrain_0,ytrain_1)
ytest = np.append(ytest_0, ytest_1)

In [91]:
ytest

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1.])